ALTER TABLE store_banners ADD COLUMN IF NOT EXISTS media_type TEXT DEFAULT 'image';
ALTER TABLE store_banners ADD COLUMN IF NOT EXISTS video_url TEXT;
ALTER TABLE store_campaigns ADD COLUMN IF NOT EXISTS media_type TEXT DEFAULT 'image';
ALTER TABLE store_campaigns ADD COLUMN IF NOT EXISTS video_url TEXT;
ALTER TABLE store_mosaics ADD COLUMN IF NOT EXISTS media_type TEXT DEFAULT 'image';
ALTER TABLE store_mosaics ADD COLUMN IF NOT EXISTS video_url TEXT;
NOTIFY pgrst, 'reload schema';
